spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/airbnb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: codeS123!@#
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.spatial.dialect.mysql.MySQL56InnoDBSpatialDialect

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
